body{
    font-family: 'Poppins', sans-serif;
    
}

p{
    color: rgb(102, 101, 101);
}
.top-section{
    display:flex; 
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
    margin:-0.55%;
}

.half-width{
    
    width: 40%;
    margin: 0% 5% 0% 5%;
    padding: 5%;
}
.top-img{
    height: 100%;
    width: 130%;
}


h1{
    font-size: 45px;
}

#name-span{
    color: rgb(230, 100, 49);
}

.anchor-links{
    text-decoration: none;
    font-weight: 700;
    background: linear-gradient(45deg, rgb(255, 167, 132), rgb(252, 81, 51));
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    
}


.dream-section{
    display: flex;
    padding-top: 30px;
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-right:-0.5%;
}



.experience-section{
    display: flex;
    background-image: url(../images/exp-bg.png);
    background-position: left;
    background-repeat: no-repeat;
    margin-left: -0.5%;
}
.experience-section h3{
    color: rgb(223, 160, 24);


}

footer p{
    text-align: center;
}
